@tailwind base;
@tailwind components;
@tailwind utilities;

.legend {
    background: white;
    padding: 6px 8px;
    border-radius: 4px;
    line-height: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
